<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardCalenderMapper">  
	
	<insert id="insertBoardCalender" parameterType="BoardCalender">
		INSERT INTO BoardCalendar(BCALNO, BNO, CALNO) VALUES(SEQ_BCALNO.NEXTVAL, #{boardNo}, #{calenderNo})	
	</insert>
	
	<select id="selectCalenderNo" resultType="int">
		SELECT CALNO FROM BoardCalendar WHERE BNO = #{boardNo}
	</select>
</mapper>