<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardReviewMapper">  
				
	<insert id="insertBoardReview" parameterType="BoardReview">
		INSERT INTO BoardReview(BRNO, RVNO, BNO) VALUES(SEQ_BRNO.NEXTVAL, #{reviewNo}, #{boardNo})
	</insert>
</mapper>