<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calenderCategoryBoardMapper">  
	
	<insert id="insertCalenderCategoryBoard" parameterType="CalenderCategoryBoard">
		INSERT INTO CalendarCategoryBoard(CCBNO, CBNO, CALNO) VALUES(SEQ_CCBNO.NEXTVAL, #{categoryBoardNo}, #{calenderNo})
	</insert>
	
</mapper>